{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
	<h2>Dashboard</h2>
			<div class="row">
				<div class="span9">
					<h3>List of appliances</h3>
					<div id="appliance_list">
					</div>
				</div>
				<div class="span3">
					<input type="text" data-provide="typeahead" id="appliance_input">
					<script type="text/javascript">
						$(function(){
								$("#appliance_input").typeahead({
									source: function(typeahead,query){
									$.post("{% url ajax_appliance %}",{"query":query},function(data){ typeahead.process(data);},"JSON");
									},
								})
						});
					</script>
				</div>
			</div>
	<div class="row">
		<div class="span6">
			<div id="container" style="width: 100%; height: 400px"></div>
		</div>
		<div class="span6">
			<div style="width:auto" id="personal">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div id="line_chart" style="width: 100%; height: 400px"></div>
		</div>
	</div>

	<script type="text/javascript">
		var chart;
		var appliances =	[
								{% for appliance in appliances %}
									"{{appliance}}",
								{% endfor %}
							];
		var user_data =		[
								{% for datum in user_data %}
								  {{datum}},
								{% endfor %}
							];
		var average_data =	[
								{% for datum in average_data %}
								  {{datum}},
								{% endfor %}
							];
		var kitchen_data  = [];
		var living_data  = [];
		var kitchen_appliances  = [];
		var living_appliances  = [];
		var normalized_user_kitchen_data = [];
		var normalized_user_living_data = [];
		var total_kitchen = 0;
		var total_living = 0;
		var total = 0;
		var data;
		var browserData;
		var versionsData;
		var colors = Highcharts.getOptions().colors,
			categories = ['Kitchen', 'Living Room'],
			name = 'Browser brands';
		function calculate_pie(){
			normalized_user_kitchen_data = [];
			normalized_user_living_data= [];
			total = 0;
			total_living = 0;
			total_kitchen = 0;
			for(var i = 0; i<kitchen_data.length; i++)
				total += kitchen_data[i];
			for(var i = 0; i<living_data.length; i++)
				total += living_data[i];
			for(var i = 0; i<kitchen_data.length; i++)
			{
				var d = Math.ceil(kitchen_data[i]*100/total);
				normalized_user_kitchen_data.push(d);
				total_kitchen += d;
			}
			for(var i = 0; i<living_data.length; i++)
			{
				var d = Math.ceil(living_data[i]*100/total);
				normalized_user_living_data.push(d);
				total_living += d; 
			}
			data = [{
						y: total_kitchen,
						color: colors[0],
						drilldown: {
							name: 'Kitchen details',
							categories: kitchen_appliances, 
							data: normalized_user_kitchen_data, 
							color: colors[0]
						}
					}, {
						y: total_living,
						color: colors[1],
						drilldown: {
							name: 'Living Room details',
							categories: living_appliances, 
							data: normalized_user_living_data, 
							color: colors[1]
						}
					}];
		
			// Build the data arrays
			browserData = [];
			versionsData = [];
			for (var i = 0; i < data.length; i++) {
		
				// add browser data
				browserData.push({
					name: categories[i],
					y: data[i].y,
					color: data[i].color
				});
		
				// add version data
				for (var j = 0; j < data[i].drilldown.data.length; j++) {
					var brightness = 0.2 - (j / data[i].drilldown.data.length) / 5 ;
					versionsData.push({
						name: data[i].drilldown.categories[j],
						y: data[i].drilldown.data[j],
						color: Highcharts.Color(data[i].color).brighten(brightness).get()
					});
				}
			}
		}
		calculate_pie();

		$(function(){
				$("#appliance_input").keyup(function(event){
						if(event.keyCode=="13"){
							var v = $(this).val();
							var num = v.split(" ");
							var type = num[0].split(":")[0];
							num = Math.ceil(num[num.length-1]);
							if (num==100000)
							{
								num = Math.ceil(num/1000.0);
							}
							var d = "<div>" + v + "</div>";
							$("#appliance_list").append(d);


							appliances.push(v);
							if(type=="Fridge")
								kitchen_appliances.push(v);
							if(type=="Heater")
								living_appliances.push(v);
							console.log(type);
							user_data.push(num);
							if(type=="Fridge")
								kitchen_data.push(num);
							if(type=="Heater")
								living_data.push(num);
							average_data.push(num+100);

							calculate_pie();

							chart.xAxis[0].setCategories(appliances,true);
							chart.series[0].setData(user_data,true);
							chart.series[1].setData(average_data,true);

							chart2.series[0].setData(browserData,true);
							chart2.series[1].setData(versionsData,true);

							$(this).val("");
						}
					});
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'container',
						type: 'bar',
					},
					title: {
						text: 'Energy Usage Summary'
					},
					xAxis: {
						categories: appliances
					},
					yAxis: {
						title: {
							text: 'Energy Used'
						}
					},
					series: [{
						name: 'Your Current Usage',
						  data: user_data 
					}, {
						name: 'Average American Usage',
						  data: average_data 
					}]
				});
		});
	</script>
	<script type="text/javascript">
	var chart2;
	$(function () {
		$(document).ready(function() {
		
		
			// Create the chart
			chart2 = new Highcharts.Chart({
				chart: {
					renderTo: 'personal',
					type: 'pie'
				},
				title: {
					text: 'Energy Usage Detailed'
				},
				yAxis: {
					title: {
						text: 'Total percent market share'
					}
				},
				plotOptions: {
					pie: {
						shadow: false
					}
				},
				tooltip: {
					formatter: function() {
						return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
					}
				},
				series: [{
					name: 'Rooms',
					data: browserData,
					size: '60%',
					dataLabels: {
						formatter: function() {
							return this.y > 5 ? this.point.name : null;
						},
						color: 'white',
						distance: -30
					}
				}, {
					name: 'Appliance',
					data: versionsData,
					innerSize: '60%',
					dataLabels: {
						formatter: function() {
							// display only if larger than 1
							return this.y > 1 ? '<b>'+ this.point.name +':</b> '+ this.y +'%'  : null;
						}
					}
				}]
			});
		});
	});
	$(function(){
			var chart3;
			chart3 = new Highcharts.Chart({
				chart: {
					renderTo: 'line_chart',
					type: 'line',
				},
				title: {
					text: 'Energy Usage Summary'
				},
				xAxis: {
					categories: appliances
				},
				yAxis: {
					title: {
						text: 'Energy Used'
					}
				},
				series: [{
					name: 'Your Current Usage',
					data: {{line_data_x}} 
				}, {
					name: 'What your usage could be...',
						  data: {{line_data_y}} 
				}]
			});
	});
	</script>

{% endblock %}
