{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
	<h2>Dashboard</h2>
	<div class="row">
		<div class="span6">
			<div id="container" style="width: 100%; height: 400px"></div>
			<div class="row">
				<div class="span4">
					<div id="appliance_list">
						<div>
							Fridge 1
						</div>
					</div>
				</div>
				<div class="span4">
					<input type="text" data-provide="typeahead" id="appliance_input">
				</div>
			</div>
		</div>
		<div class="span6">
			<div style="width:auto" id="personal">
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var chart;
		var appliances =	[
								{% for appliance in appliances %}
									"{{appliance}}",
								{% endfor %}
							];
		var user_data =		[
								{% for datum in user_data %}
								  {{datum}},
								{% endfor %}
							];
		var average_data =	[
								{% for datum in average_data %}
								  {{datum}},
								{% endfor %}
							];
		$(function(){
				$("#appliance_input").keyup(function(event){
						if(event.keyCode=="13"){
							var v = $(this).val();
							var d = "<div>" + v + "</div>";
							$("#appliance_list").append(d);

							appliances.push(v);
							user_data.push(5000);
							average_data.push(5000);

							chart.xAxis[0].setCategories(appliances,true);
							chart.series[0].setData(user_data,true);
							chart.series[1].setData(average_data,true);

							$(this).val("");
						}
					});
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'container',
						type: 'bar',
					},
					title: {
						text: 'Energy Usage Summary'
					},
					xAxis: {
						categories: appliances
					},
					yAxis: {
						title: {
							text: 'Energy Used'
						}
					},
					series: [{
						name: 'Your Current Usage',
						  data: user_data 
					}, {
						name: 'Average American Usage',
						  data: average_data 
					}]
				});
		});
	</script>
	<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
    
        var colors = Highcharts.getOptions().colors,
            categories = ['Bathroom', 'Kitchen'],
            name = 'Browser brands',
            data = [{
                    y: 55.11,
                    color: colors[0],
                    drilldown: {
                        name: 'Bathroom details',
                        categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0'],
                        data: [10.85, 7.35, 33.06, 2.81],
                        color: colors[0]
                    }
                }, {
                    y: 21.63,
                    color: colors[1],
                    drilldown: {
                        name: 'Kitchen details',
                        categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                        data: [0.20, 0.83, 1.58, 13.12, 5.43],
                        color: colors[1]
                    }
                }];
    
        // Build the data arrays
        var browserData = [];
        var versionsData = [];
        for (var i = 0; i < data.length; i++) {
    
            // add browser data
            browserData.push({
                name: categories[i],
                y: data[i].y,
                color: data[i].color
            });
    
            // add version data
            for (var j = 0; j < data[i].drilldown.data.length; j++) {
                var brightness = 0.2 - (j / data[i].drilldown.data.length) / 5 ;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }
    
        // Create the chart
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'personal',
                type: 'pie'
            },
            title: {
                text: 'Energy Usage Detailed'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
                }
            },
            series: [{
                name: 'Rooms',
                data: browserData,
                size: '60%',
                dataLabels: {
                    formatter: function() {
                        return this.y > 5 ? this.point.name : null;
                    },
                    color: 'white',
                    distance: -30
                }
            }, {
                name: 'Appliance',
                data: versionsData,
                innerSize: '60%',
                dataLabels: {
                    formatter: function() {
                        // display only if larger than 1
                        return this.y > 1 ? '<b>'+ this.point.name +':</b> '+ this.y +'%'  : null;
                    }
                }
            }]
        });
    });
    
});
	</script>

{% endblock %}
