{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
	<script src="/site_media/static/pinax/js/jquery-1.7.1.min.js"></script>
	<script src="/site_media/static/js/highcharts.js" type="text/javascript"></script>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% include "_footer.html" %}
</div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
